* {
    color: gray;
}

h2 {
    font-weight: 300;
}

hr {
    width: 50%;
}

.circle {
    opacity:100%;
    width: 70px;
    height: 70px;
    border-radius:50%;
    line-height: 70px;
}

i.fab {
    color: orange;
    opacity: 100%;
    font-size: 50px;
    line-height: 70px;
}

p {
    color: gray;
}